/*RESET CSS*/
* { 
    margin: 0; /*margem*/
    padding: 0; /*distância entre o conteúdo de um elemento e suas bordas*/
    box-sizing: border-box; /*utilizada para alterar a propriedade padrão da box model*/
}

body {
    background: #1f1517; /*cor de fundo*/
    color: #ffffff; /*cor do texto*/
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none; /*decoração dos links*/
}

ul {
    list-style: none; /*decoração padrão para lista*/
}